

.variables-table{
    margin: 2rem auto;
    background-color: $color-white;
    @include radius;
    font-size: $font-size-small;
    @include tablet{
        font-size:$font-size-regular;
    }
    .table-header, .table-body{
        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 0;
            justify-content: space-between;
        }
    }
    // header
    .table-header{
        font-size: .85rem;
        color: $color-gray-dark;
        border-bottom: 1px solid $color-border;
        display: none;
        @include tablet{
            display: block;
        }
    }
    .header-list, .body-list{
        li{
            padding: 1rem;
            width: 25%;
            @include tablet{
                width: 20%;
            }
        }
    }
    // body
    .table-body{
        .body-list{
            flex-wrap: wrap;
            @include tablet{
                flex-wrap: nowrap;
            }
            li{
                &.has-border-left{
                    border-left: 1px solid $color-border;
                    border-right: 1px dotted $color-gray-dark;
                    padding-left: 0;
                    padding-right: 0;
                }
                &.has-border-right{
                    border-right: 1px solid $color-border;
                    padding-left: 0;
                    padding-right: 0;
                }
                &.variable-title{
                    width: 100%;
                    @include tablet{
                        width: 20%;
                    }
                }
            }
        }
    }
}

.variable{
    &:not(:last-of-type){
        border-bottom: 1px solid $color-border;
    }
    .variable-title{
        @include inter-semibold;
        @include mobile{
            font-size:$font-size-regular;
        }
    }
    ul.measurements-list{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        li{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: auto;
            padding: 0;
            border: none;
            height: 1.5rem;
            align-items: center;
            justify-content: space-between;
            @include tablet{
                height: 1rem; 
            }
            .measuremente-value{
                text-align: right;
                // display: none;
                // @include tablet{
                //     display: flex;
                // }
            }
        }
    }
}

//Progress bars custom
.progress{
    display: flex;
    width: 100%;
    position: relative;
    height: 12px;
    background-color: $color-background-light;
    &.is-success{
        background-color: $color-success;
    }
    &.is-error{
        background-color: $color-error;
    }
}

//Evolution percentage
.evolution{
    margin-bottom: .5rem;
    &.is-negative{
        color: $color-error-text;
    }
}
