body{
    font-size: $font-size-regular;
    line-height: 130%;
    color: $color-dark;
    @include gradient;
    @include inter-regular;
    min-height: 100vh;
}



.container{
    margin: 0 1rem;
    max-width: 1200px;
    @include tablet{
        margin: 0 auto;
    }
}
